@import "../../../base.scss";

.FooterLoginForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-normal;
    font-weight: 500;
}

.inputForm {
    margin-bottom: 1.875rem
}